<form action="/home/create" method="post">
  <fieldset>
    <legend>게시물 작성</legend>
    <label for="input_title">제목:</label><br>
    <input type="text" id="input_title" name="input_title" value="제목"><br>
    부제:<br>
    <input type="text" name="input_subtitle" placeholder="부제목"><br>
    내용:<br>
    <textarea name="input_content" row="40" col="8">
        asd
    </textarea><br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>
